$main-bg: #f5f5f5;
$pre-header-height: 55px;
$pre-header-phone-height: 25px;
$footer-height: 319px;

$tablet-landscape: 1199px;
$tablet-portrait: 991px;
$phone: 767px;

$hover: #FF4664;
$w: #ffffff;
$l: 'Lato', sans-serif;
$o: 'Open Sans', sans-serif;